.box{
    display: flex;    
    align-content: center;   
    align-items: center;    
    height: 400px;   
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
}
.login{
    background-color: #ecc24cda;
    height:600px;
}
.logo{
    width:200px;
    height: 130px;   
}
.wlogo{
    width:120px;
    height: 140px;
}
.green{
    color:rgb(0, 128, 79)
}
p{
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.blue{
    color:rgb(0, 153, 255);
}
.red{
    color:rgba(255, 51, 0, 0.671);
}
 .ip-gr{
    border: none;
    border-radius: 10px;
    background-color:lightgrey;
    height: 35px;
 }
 .cntr1{
    flex:1;
 }
 .cntnr{
    flex:1;
    margin-left: 300px;
    background-color: white;
    margin-right: 300px;       
    height: 270px;
    border-radius: 35px;
    margin-top: 20px;
    padding:50px 50px 50px 50px;
 }
 form,.btngrp{
    
    margin-left: 100px;
 }
 .nav{
    display: flex;
    flex-direction: column;
    width:140px;
    background-color: #424161;
align-items: center;}

 .navlogos{
    width:50px;   
    margin-bottom: 40px;

 }
 .person,.qr{
    width:100px;   
 }
 .qr{
    margin-bottom: 20px;
 }
 .logout{    
    width: 60px;
    height: 60px;
    
 }
h6{
    color:white;
    
}
small{
    
    color: gray;
    font-weight: 700;
    margin-top: -40px;
    margin-bottom: 60px;
}
.welcome{
    display: flex;
    background-color: rgba(173, 216, 230, 0.199);
}
.projects{
    display: flex;
    background-color: rgba(173, 216, 230, 0.199);
}
.part1{
    margin-top: 10px;
}
.part2{
    margin-left: 40px;
    margin-top: 10px;
}
 .line1{
    font-size: 140%;
 }
 .line1_1{
    font-weight:700;
 }
 .wlg{
    margin-right: 10px;
 }
 .line2{
    font-size: 120%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        margin-left: 90px;
 }
 .boxes1{
    display: flex;
 }
.projectsLists{
    display: flex;
    background-color: white;
    padding:20px 200px 20px 100px;
    border-radius: 15px;
    box-shadow:5px 5px 5px 5px white;
    border: none;
    text-align: left;
}

.pdtsdata{
    background-color: white;
        padding: 20px 200px 20px 100px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px white;
        border: none;
        text-align: left;
        margin: 20px;

}
.installations {
    display: flex;
    background-color: white;
    padding: 20px 160px 20px 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px white;
    margin-left: 30px;
    margin-right: 20px;
    border: none;
    text-align: left;
}
.boxp{
    font-size: 90%;
}
.tdp{
    cursor: pointer;
}
.trp:hover{
    background-color: white;
}
.h1p{
        color:#32a852;
        font-size: 140%;
}
.h1i {
    color: rgb(185, 3, 103);
    font-size: 140%;
}
.box2{
    display: flex;
    background-color: white;
        padding: 20px 160px 20px 100px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px white;
        margin-top: 60px;
        margin-right: 730px;
}
.h1l {
    color: orange;
    font-size: 140%;
}
.myimg{
   width: 80px;
   margin-left: -60px;
   margin-right: 10px;
   margin-top: 10px;
}
.rm{
    padding: 5px 310px 5px 0px;
    color: grey;
}
.rc{
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 40px;  
}
table{
    margin-top: 20px;
}
.pdts{
    display: flex;
}

.ibtns{
    margin-top: 20px;
    background-color:black;
    color:white;
    border: none;
    border-color: transparent;
    margin-bottom: 10px;
    font-size: 140%;
   
}
.ibtns:hover{
    background-color: white;
    color:black;
}